@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #ffe8b4;
    --color-primary-3: #f8b477;
    --color-primary-4: #ffff;
    --color-primary-5: #ffcb45;
    --color-primary-6: #1d1d1d;
}
* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-1);   
}

section {
    padding: 28px 8%;
}

.btn_default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    margin: 5px;
}


.btn_default:hover {
    background-color: var(--color-primary-3);
}

.btn_default_info {
    margin-top: 20px;
    cursor: pointer;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    background-color: var(--color-primary-5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: background-color .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-primary-6);

}

#cta .title span {
    color: #e9a209;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;

}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-primary-6);
    padding: 10px;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-primary-4);
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

.social_media_buttons {
    display: flex;
    gap: 18px;
}

.social_media_buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-primary-4);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-primary-6);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social_media_buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-contents;
}

.shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }
    
    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section_title {
    color: #e9a209;
    font-size: 1.563rem;
}

.section_subtitle {
    font-size: 2.1875em;
} 

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-primary-4);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

}

.dish_heart {
    position: absolute;
    background-color: #e9a209;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 42.2px;
}

.dish_description {
    color: #434343;
    text-align: center;
}

.dish_rate {
    color: #e9a209;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section_subtitle {
        text-align: center;
    }
}

#testemunhos {
    min-height: calc(100vh- 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testemunhos_chef {
    width: 500px;
    height: auto;
}

#testemunhos .section_subtitle {
    font-size: 3rem;
}

#testemunhos_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-primary-4);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback_avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback_content p {
    display: flex;
    justify-content: space-between;
}

.feedback_content p span {
    color: #e9a209;
}

@media screen and (max-width: 1170px) {
    #testemunhos {
        flex-direction: column;
    }

    #testemunhos .section_subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testemunhos_chef{
        display: none;
    }

    #testemunhos_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #testemunhos .section_subtitle {
        font-size: 2rem;
    }

    #testemunhos_content {
        width: 100%;
    }
    .feedback {
        flex-direction: column;
    }
}

footer {
    background-color: var(--color-primary-2);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-primary-6);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}